body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  margin: 0;
}

input {
  border: none;
  width: 100%;
  font-size: 1em;
  padding-left: .25em;
}

textarea {
  border: none;
  width: 100%;
  font-size: 1em;
  resize: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-left: .25em;

}

textarea:hover,
input:hover,
button:hover,
textarea:active,
input:active,
button:active,
textarea:focus,
input:focus,
button:focus,
label:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.button {
    font-size: .75em;
    font-weight: 600;
    padding: 3px 5px;
    text-align: left;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    text-align: center;
    white-space: nowrap;
    width:auto;

}

.button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.header {
  background-color: #222;
  display: flex;
  padding: .5rem;
  //position:fixed;
  width: 100%;
  top:0;
}

.header > div {
  color: white;
  font-size: 1rem;
  padding: .5rem;
  cursor:pointer;
}

.footer{
    background-color: white;
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    border-top: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.grid{
   display:flex;
   min-height: 1.4em;
   padding: 0;
   justify-content: space-between;
}

.list > .head {
    border:none;
}

.component {
   display:flex;
   min-height: 1.4rem;
   padding: .5em;
   justify-content: space-between;
   flex-basis: 100%;
}

.options {
  white-space: nowrap;
  text-align: right;
}

.options > .button {
   display:inline-block;
   margin: 0 .5em 0 0;
}

.padding-1-em {
   padding: 1em !important;
}

.lr-padding-1-em {
   padding-left: 1em  !important;
   padding-right: 1em  !important;
}

.no-margin-padding-border > div {
   border:none !important;
   padding: 0;
   margin: 0;
}

.no-margin-padding > div {
   padding: 0;
   margin: 0;
}

.no-padding {
   padding: 0 !important;
}

.no-margin {
   margin: 0 !important;
}

.terraced {
   box-shadow: 0 0 0.2em grey;
   border-radius: .25rem;
   border: 1px solid #fff;
}

.classifier-results{
    display: flex;
    justify-content: left;
}

.chat-response{
    display: flex;
    justify-content: left;
    font-size: 1.25rem;
}

.chat-input{
    background-color: white;
    border: 0;
    height: 2em;
    overflow-y: auto;
    padding-left: .6em;
    border-radius: .25rem 0 0 .25rem;
}

.chat-input:focus{
    box-shadow:none;
    outline:0px;
}

.chat-input-send{
    background-color: white;
    border: 0;
    cursor: pointer;
    padding: .5rem;
    padding-top: .25rem;
    padding-bottom: 0;
    height: 2em;
    border-radius: 0 .25rem .25rem 0;
}

.loading-large {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.loading-medium {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.loading-small {
  min-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
}

.ant-tooltip-inner {
  border-radius: .5em;
}
