version: '3.3'

services:
  app:
    build:
      context: .
    env_file: .env
    ports:
      - "80:80"
      - "3000:3000"
      - "5000:5000"
    restart: always
    volumes:
     - .:/var/www/html:delegated

  postgres:
    image: postgres
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data:rw
